.login {
    display: flex;
    flex-direction: column;
}

.headerAndTagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
}